<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="../static/main.css">
<meta content="width=device-width,user-scalabel=no" name="viewport"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/mui.css" rel="stylesheet" type="text/css" />
<script src="../static/mui.js"></script>
<meta content="width=device-width,user-scalabel=no" name="viewport"> 
<link href="../static/main.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<title>请先登录</title>
</head>

<body>
<div class="mui-container">
<div class="mui-panel wrap">
<form method="POST">
用户名：
<input name="username" type="text" class="mui-textfield--wrap-label"/><br/>
密码:  
<input name="password" type="password" class="mui-textfield--wrap-label"/>
<input type="submit" value="登录" class="mui-btn mui-btn--primary mui-btn--raised">
</form>
</div>
</div>

</body>